@charset "UTF-8";

body {
    font-size: 1em;
    margin: 0em 2em;
    background-color: white;
    color: rgb(170, 143, 118);
    font-family: 'Noto Serif JP', serif;
}
header {
    top: 0;
}
.logo {
    margin: 20px;
    text-align: center;
    top: 0;
}


/* pageup */
#pageup {
    position: fixed;
    bottom: 20px;
    right: -300px;
    z-index: 1000;
}
#pageup a {
    position: relative;
    display: block;
}
#pageup:hover{
    filter: saturate(200%);
}


/* ハンバーガーメニュー */
nav.menu {
    position: fixed;
    margin: 10px;
    top: 0;
    right: 0px;
    width: 30%;
    color: rgb(82, 126, 124);
    opacity: 0;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.6s;
    z-index: 100;
}
nav.menu ul {
    margin: 0 auto;
    padding: 50px;
    background: #BAD3BE;
}
nav.menu ul li {
    font-size: 1em;
    list-style-type: none;
    padding: 0px;
    width: 100%;
}
nav.menu ul li:last-child {
    padding-bottom: 0;
}
nav.menu ul li a {
    display: block;
    color: rgb(85, 60, 49);
    padding: 0;
    text-decoration: none;
    line-height: 3;
}
nav.menu.active {
    opacity: 0.8;
    transform: translateY(0%);
}

.hamburger {
    display: block;
    position: fixed;
    right: 20px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 1001;
}
.hamburger span {
    display: block;
    position: absolute;
    width: 35px;
    border: solid 2px #8fb395;
    border-radius: 10px;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}
.hamburger span:nth-child(1) {
    top: 8px;
}
.hamburger span:nth-child(2) {
    top: 19px;
}
.hamburger span:nth-child(3) {
    top: 30px;
}
.hamburger.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* top */
.top {
    text-align: center;
    margin: 10px;
}
.svgall {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    padding: 100px;
    z-index: 10;
    opacity: 1;
}

h2 {
    text-align: center;
    margin: 30px;
}
.profile {
    text-align: center;
    line-height: 2.3;
}

/* 見出し */
.info{
    margin-top: 50px;
    display: flex;
    text-align: center;
}
hr {
    width: 100%;
    border: solid 1px #BAD3BE;
    margin-top: 35px;
}
h1 {
    margin: 15px;
}

/* moreボタン */
.more {
    text-align: center;
}
.button {
    display: inline-block;
    padding: 10px 30px;
    margin: 40px;
    text-decoration: none;
    font-size: large;
    color: white;
    background-color: #BACAD1;
    border: solid 2px #BACAD1;
    border-radius: 1px;
    transition: .4s;
}
.button:hover {
    background: #5B6C72;
    border-color: #5B6C72;
}

/* info */
.infoimg {
    margin: 10px 100px;
    padding: 0px;
    display: flex;
}

/* yajirusi */
.arrow {
    display: inline-block;
    position: relative;
    color: #BAD3BE;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}
.yajirusi1::before {
    left: -60px;
    width: 40px;
    height: 40px;
    border-top: 2px solid #BAD3BE;
    border-right: 2px solid #BAD3BE;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.yajirusi2::before {
    left: 20px;
    width: 40px;
    height: 40px;
    border-top: 2px solid #BAD3BE;
    border-right: 2px solid #BAD3BE;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.yajirusi1:hover {
    right: 5px;
}
.yajirusi2:hover {
    left: 5px;
}

/* info画像部分 */
.picu {
    margin: 10px;
    padding: 10px;
}
.pic {
    margin: 0px;
    padding: 0px;
    width: 100%;
}


/* live */
.live {
    text-align: center;
    line-height: 3;
}
.date {
    margin: 10px;
}
.cancel {
    text-decoration: line-through;
}
.enki {
    padding: 5px;
    background-color: rgb(223, 198, 175);
    color: white;
    border-radius: 100px;
}
.saisin {
    margin: 5px;
    text-align: center;
    line-height: 1;
}
#p2 {
    opacity: 0.7;
}
#p3 {
    opacity: 0.5;
}

/* disco */
.washroom {
    margin: 70px 100px 40px 100px;
    text-align: center;
}
.format {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}
.naiyou {
    margin: 2px;
    text-align: center;
    line-height: 3;
}
.title {
    font-size: 1.8em;
}
.day {
    font-size: 1.2em;
    margin: 10px;
}

 /* グッズ */
 .goods {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    align-content: space-around;
    justify-content: center;
 }
.item {
    margin: 10px;
    padding: 10px;
}


/* footer */
.foot {
    margin: 0 -2em;
    padding: 30px 0;
    background-color: #BAD3BE;
    text-align: center;
    color: white;
}
.sns {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}
.twitter {
    margin: 12px 0 0;
    padding: 10px;
}
.insta {
    margin: 10px 10px 10px 25px;
    padding: 10px;
}
.youtube {
    margin: 10px;
    padding: 10px;
}